.slide-text2 h2 {
  top: 70%;
  font-size: 40px;
  line-height: 45px;
  color: rgba(34, 32, 32, 0.844);
}

.slide-text2 p {
  color: rgba(34, 32, 32, 0.535);
  font-weight: 400;
}

.h16-navbar nav {
  z-index: 1000;
}

.slider5 .promo-code {
  background: url(/images/salad.jpg) no-repeat center top;
  background-size: cover;
}

.page-wrapper {
  padding-top: 0px;
}

.navbar-brand img {
  width: 80px;
  height: 80px;
}

@media (max-width:768px) {
  .navbar-nav {
    flex-direction: row;
  }
}

@media (max-width:425px) {
  .flex-colum {
    flex-direction: column;
  }
}